* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background: rgba(226, 239, 255, 0.7);
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: rgb(226, 239, 255);
    overflow-x: hidden;
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-block: 1em;
}

::-webkit-scrollbar-thumb {
    background-color: #dfe5e7;
}

.todo--container {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    max-width: 425px;
    box-shadow: rgba(176, 208, 250, 0.5) 0px 5px 15px;
    text-align: center;
}
